/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.venv/

/ansible/**/*.retry
/settings.*.toml
!/settings.public.toml

/build/
/data/trimet/
/dist/
/node_modules/
/src/mystops/app/build/
/src/mystops/static/build/
/static/
