[uwsgi]
env = ENV={{ env }}
env = VERSION={{ version }}
env = DJANGO_SETTINGS_FILE={{ remote_settings_file }}

master = true
plugins = python3

uid = mystops
gid = www-data

workers = 2
enable-threads = true
threads = 4

logto2 = /sites/mystops/uwsgi.log

chdir = /sites/mystops/current/app
virtualenv = /sites/mystops/current/app/venv
wsgi-file = /sites/mystops/current/app/wsgi.py

single-interpreter = true

# Clean up socket and pid files on exit
vacuum = true

# Kill requests that take too long
harakiri = 30

# Reload when memory usage gets too high
reload-on-rss = 256

# Ensure POST bodies are read
post-buffering = 1

die-on-term = true
