@import "./styles/mixins.scss";
@import "./styles/variables.scss";

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px + $twice-standard-spacing;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid $menu-item-border-color;

  > .title {
    @include title();
    text-align: right;
  }

  @media (max-width: $sm-width - 1px) {
    top: auto;
    bottom: 0;

    background-color: transparent;

    > .title {
      position: absolute;
      top: auto;
      right: auto;
      bottom: $standard-spacing;
      left: 128px + $twice-standard-spacing;
      padding: 0;
      font-size: 20px;
      text-align: left;
    }
  }

  @media (max-width: $sm-width - 1px) {
    right: auto;

    > .title {
      left: $standard-spacing;
    }
  }

  @media (max-width: $xs-width - 1px) {
    > .title {
      bottom: $quarter-standard-spacing;
      left: $quarter-standard-spacing;
      font-size: 16px;
    }
  }
}

.ProgressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $quarter-standard-spacing;
  z-index: 3;
  animation: blinker 1.5s linear infinite;
  background-color: seagreen;
  box-shadow: 0px 0px 4px 2px seagreen;
}

.BottomSheet {
  @include floating-element();
  @include visible-sm();

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;

  > .content-wrapper {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    > .header {
      margin: 0;
      padding: 0;
      text-align: right;
      > button {
        margin: 0;
      }
    }

    > .content {
      @include floating-element();
      background-color: white;
      border-radius: 0;
      font-size: 14px;
      max-height: 400px;
      overflow: auto;
      margin: 0;
      padding: $half-standard-spacing;
    }
  }

  > .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
